.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: white;
    border: 10px solid gray ;border-style:ridge;

}

.title-box{
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    box-shadow: 3px 3px 3px black;
    border: 15px solid;
    background-image: linear-gradient(45deg, blue, red); 
    border-image: linear-gradient(45deg, red, blue) 10;
    margin-top: 15px; margin-left: 5px; margin-right: 5px;
    width: 80%;
    color: white; text-shadow: 2px 2px 4px black;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}

.name-and-score{
    display: flex; flex-direction: row; justify-content: space-between;
    background-color: black; color: white;
    width: 80%;
    box-shadow: 5px 5px 10px black;
    border: 5px solid;
    border-image: linear-gradient(45deg, blue, red) 10;
    margin: 15px;
}
    .p1{
        display: flex; flex-direction: column;
    }
        .p1ns{
            display: flex; justify-content: left; align-content: space-between;
            font-size: 30px; font-family: 'Rock Salt', cursive;
            padding-left: 15px; padding-right: 5px;
        }

    .p2{
        display: flex; flex-direction: column;
    }
        .p2ns{
            display: flex; justify-content: right; align-content: space-between;
            font-size: 30px; font-family: 'Rock Salt', cursive;
            padding-right: 15px; padding-left: 5px;
        }

.start-game{
    visibility: visible;
}
.start-game-hidden{
    visibility: hidden;
}

.next-game{
    visibility: hidden;
}

.active-highlight{
    color: red;
    text-shadow: 2px 2px 3px white;
}

.winner{
    background-color: rgb(155, 255, 0);
    color: red;
    text-shadow: 2px 2px 3px black;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

#game-table {
    width: 25em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    visibility: hidden;
  }

.xMark {
    background: url("letter-x.jpg");
    background-size: 6.2em 6.2em;
    }

.oMark {
    background: url("letter-o.jpg");
    background-size: 6.2em 6.2em;
    }
  
  .table-slot {
    width: 6.2em;
    height: 6.2em;
  }
    .tl{
        border-right: .63em solid black;
        border-bottom: .63em solid black;
    }
    .tm{
        border-left: 10px solid black;
        border-right: .63em solid black;
        border-bottom: .63em solid black;
      }
    .tr{
        border-left: .63em solid black;
        border-bottom: .63em solid black;
      }
    .ml{
        border-top: .63em solid black;
        border-right: .63em solid black;
        border-bottom: .63em solid black;
    }
    .mm{
        border-top: .63em solid black;
        border-right: .63em solid black;
        border-bottom: .63em solid black;
        border-left: .63em solid black;
      }
    .mr{
        border-left: .63em solid black;
        border-bottom: .63em solid black;
        border-top: .63em solid black;
      }
    .bl{
        border-right: .63em solid black;
        border-top: .63em solid black;
    }
    .bm{
        border-left: .63em solid black;
        border-right: .63em solid black;
        border-top: .63em solid black;
      }
    .br{
        border-left: .63em solid black;
        border-top: .63em solid black;
      }